
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222831;
}
.title{
  text-align: center;
  font-size: 75px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
  color: #EEEEEE;
}

button{
  background-color: blueviolet;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin-top: 40px;
}
#loginButton {
  min-width: 160px;
}

.userWallet{
  border: 1px solid #555555;
  display: flex;
  min-width: 700px;
  height: 50px;
  margin-top: 40px;
  padding: 5px auto;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}